body{
background-color: #1c2229;
}
h1{
    text-align: left;
  font-family: 'Roboto';
  letter-spacing: 11.9px;
  margin-top: 2%;
  font-size: 5rem;
  margin-left:16%;
  color: #fff;
}
.bruh{
  top: 10%;
  width: 100%;
  position: fixed;
}

h2{
  text-align: center;
  font-size: 10rem;
  font-family: 'Roboto';
  color: #ca44a2;
  margin-top: 2%;

}
footer{
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

p{
  color: #2c87f0;
}
.link{
  color: #2c87f0;
}
