body{
background-color: #1c2229;
}
h1{
    text-align: left;
  font-family: 'Roboto';
  letter-spacing: 11.9px;
  margin-top: 13%;
  font-size: 5rem;
  margin-left:16%;
  color: #fff;
}
h2{
  text-align: center;
  font-size: 8rem;
  font-family: 'Roboto';
  color: #ce1127;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer{
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

p{
  color: #2c87f0;
}
.link{
  color: #2c87f0;
}
